<ul class="no-list vcard adresslist">
	<li class="fn">Jens Grochtdreis</li>
	<li class="street-address">Am Königsfloß 7a</li>
	<li><span class="postal-code">55252</span> <span class="locality">Mainz-Kastel</span></li>
	<li><a class="email" href="mailto:jens@grochtdreis.de">jens@grochtdreis.de</a></li>
	<li>Tel.: <span class="tel">0172 &#8211; 56 15 752</span></li>
</ul>
