  <div class="banner">
      <a href="http://modulare-webentwicklung.de">
          <img src="images/{{siteData.banner}}" alt="Modulare Webentwicklung - das E-Book von Jens Grochtdreis">
      </a>
  </div>
