<section class="linklists section">
  <div class="linklists__container">
    {% include "selected-articles.njk" %}
  </div>
  <div class="linklists__container">
    {% include "selected-talks.njk" %}
  </div>
</section>
