<section class="intro section">
  <h2 class="intro__headline">{{ title }}</h2>

  <img src="./images/{{ siteData.images[1] }}" alt="Portrait von Jens Grochtdreis" class="intro__image">
  <p>Regelmäßig halte ich auf Konferenzen Vorträge, bin auch immer wieder Gast bei firmeninternen Fortbildungsveranstaltungen. Meine öffentlichen Vorträge lade ich zu <a href="http://www.slideshare.net/Flocke669">Slideshare</a> oder <a href="https://speakerdeck.com/flocke">Speakerdeck</a> hoch. Sie können sich dort einen Eindruck von meinen Themen und Thesen machen. Sie können mich gerne <a href="mailto:jens@grochtdreis.de">wegen eines Vortrags ansprechen</a>. Nachfolgend sehen Sie eine kleine Auswahl meiner letzten Vorträge.</p>
</section>
