<section class="intro section">
  <h2 class="intro__headline">{{ title }}</h2>
  <img src="./images/{{ siteData.images[1] }}" alt="Portrait von Jens Grochtdreis" class="intro__image">
  <p>Mit einer hübschen Webseite alleine ist es nicht getan. Im Hintergrund kommt es vielmehr auf Codequalität und dessen Wartbarkeit an. Hier komme ich als Frontendentwickler ins Spiel und verhelfe Ihnen zu einem professionellen Webauftritt. Mit dem richtigen Know-How sorge ich dafür, dass auch Aspekte der Barrierefreiheit, Usability, Performance und Suchmaschinenoptimierung berücksichtigt werden.</p>
  <p>Und wenn Ihnen noch der richtige Ansprechpartner für spezielle Bereiche wie etwa Sicherheit, Konzeption, Texte, Fotografie fehlt, kann ich Ihnen durch mein großes Netzwerk den richtigen Experten auf diesem Gebiet nennen.</p>
</section>
