<h3 class="section__headline">Ausgewählte Artikel</h3>
<ul class="linklist">
  {% for item in selectedArticles.articles %}
  <li>
    <a href="{{ item.url }}">{{ item.name }}</a>
  </li>
  {% endfor %}
</ul>
