// Neuer Versuch von Fira Sans
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'),
       url('../fonts/fira/FiraSans-Regular.woff2') format('woff2');
}
/* fira-sans-800 - latin */
@font-face {
  font-family: 'Fira Sans Bold';
  font-style: normal;
  font-weight: 800;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('../fonts/fira/FiraSans-Bold.woff2') format('woff2');
}
