body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  margin-top: auto;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

// @media (min-width: $lg) {

//   .grid {
//     display: flex;
//     flex: 1;
//   }

//   .site-header {
//     display: flex;
//     flex-direction: column;
//     flex: 1 0 auto;
//     min-width: 300px;
//   }

//   .main-container {
//     display: flex;
//     flex-direction: column;
//   }

// }
