.wrapper {
  max-width: 900px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "header"
    "intro";

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "header intro";
  }
}

.site-header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
.intro {
  grid-area: intro;
}

