.wrapper {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: $padding;

  @media (min-width: $xl) {
    padding-inline: 0;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "intro"
    "projects"
    "hint"
    "articles"
    "talks"
    "imprint";

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header intro"
      "projects projects"
      "hint hint"
      "articles articles"
      "talks talks"
      "imprint imprint";
  }
}

.site-header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
.intro {
  grid-area: intro;
}

.section-articles {
  grid-area: articles;
}

.section-talks {
  grid-area: talks;
}

.hint {
  grid-area: hint;
}

.my-projects {
  grid-area: projects;
}

.section-imprint {
  grid-area: imprint;
}
