@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-list {
  @include nolist;
}

.hint {
  background-color: $indigo-800;
  color: #fff;
  padding: $padding;
  margin-top: $margin * 2;
}
