---
layout: layouts/base.njk
title: Seite nicht gefunden
permalink: 404.html
introimage: grochtdreis-32.jpg
---
<section class="intro section">
  <h2 class="intro__headline">{{ title }}</h2>
  <img src="./images/{{ siteData.images[1] }}" alt="Portrait von Jens Grochtdreis" class="intro__image">
  <p>Eventuell haben Sie nach meinen Dienstleistungen in der Frontendentwicklung, Schulung oder Beratung gesucht.</p>
  <p>Seit dem 1. September 2021 bin ich nicht mehr selbständig tätig. Deshalb habe ich alle Seiten, die im Zusammenhang mit meiner Selbständigkeit stehen, gelöscht.</p>
</section>
