---
layout: layouts/base.njk
title: Impressum
permalink: impressum.html
---
<section class="section">
  <h3 class="section__headline">Angaben gemäß § 5 TMG</h3>
  {% include "adresse.njk" %}
</section>

<section class="section">
  <h3 class="section__headline">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>

  {% include "adresse.njk" %}
</section>

<section class="section section-imprint section-wide">
  <h3 class="section__headline">Datenschutzerklärung</h3>
  <h4>Geltungsbereich</h4>
  <p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter [Jens Grochtdreis, Draiser Str. 3, 55128 Mainz, <a href="mailto:jens@grochtdreis">jens@grochtdreis</a>, 01 72 - 56 15 752] auf dieser Website (im folgenden “Angebot”) auf.<br>
  Die rechtlichen Grundlagen des Datenschutzes finden sich im <a href="http://www.gesetze-im-internet.de/bdsg_1990/">Bundesdatenschutzgesetz</a> (BDSG) und dem <a href="http://www.gesetze-im-internet.de/tmg/">Telemediengesetz</a> (TMG).</p>

  <h4>Zugriffsdaten/ Server-Logfiles</h4>
  <p>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:</p>

  <ul>
    <li>Name der abgerufenen Webseite,</li>
    <li>Datei,</li>
    <li>Datum und Uhrzeit des Abrufs,</li>
    <li>übertragene Datenmenge,</li>
    <li>Meldung über erfolgreichen Abruf,</li>
    <li>Browsertyp nebst Version,</li>
    <li>das Betriebssystem des Nutzers,</li>
    <li>Referrer URL (die zuvor besuchte Seite),</li>
    <li>IP-Adresse und der anfragende Provider.</li>
  </ul>
  <p>Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</p>

  <h4>Umgang mit personenbezogenen Daten</h4>
  <p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen zu personenbezogenen Daten.
  <br />
  Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</p>

  <h4>Kontaktaufnahme</h4>
  <p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</p>

  <h4>Kommentare und Beiträge</h4>
  <p>Wenn Nutzer Kommentare im Blog oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall kann der Anbieter selbst für den Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.</p>

  <h4>Einbindung von Diensten und Inhalten Dritter</h4>
  <p>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch  haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</p>

  <h4>Amazon-Partnerprogramm</h4>
  <p>Jens Grochtdreis ist Teilnehmer des Partnerprogramms von Amazon Europe S.à.r.l. und Partner des Werbeprogramms, das zur Bereitstellung eines Mediums für Websites konzipiert wurde, mittels dessen durch die Platzierung von Werbeanzeigen und Links zu amazon.de Werbekostenerstattung verdient werden können. Amazon setzt Cookies ein, um die Herkunft der Bestellungen nachvollziehen zu können. Unter anderem kann Amazon erkennen, dass Sie den Partnerlink auf dieser Website geklickt haben. Weitere Informationen zur Datennutzung durch Amazon erhalten Sie <a href="http://www.amazon.de/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&nodeId=3312401">in der Datenschutzerklärung des Unternehmens</a>.</p>

  <h4>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h4>
  <p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>
  <p><a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/" ><strong>Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</strong></a></p>
</section>


