---
layout: layouts/base.njk
permalink: index.html
title: Professionelle Webentwicklung
intro: Seit 1998 arbeite ich im und für das Web. Nach Stationen in Agenturen und als Selbständiger arbeite ich seit November 2019 beim SWR in Mainz als Frontend-Entwickler. Ich stehe also für Projekte und Schulungen nicht mehr zur Verfügung.
---


  {# {% include "index-my-projects.njk" %} #}
  <div class="hint">
    <p>Während meiner zehnjährigen Selbständigkeit habe ich viele Artikel geschrieben und Vorträge bzw. Schulungen gehalten. Eine kleine Auswahl findet sich hier. Sie sind auch in der zeitlichen Distanz noch interessant.</p>
  </div>

  <section class="linklists__container section-articles section-wide">
    {% include "selected-articles.njk" %}
  </section>
  <section class="linklists__container section-talks section-wide">
    {% include "selected-talks.njk" %}
  </section>
