---
layout: layouts/base.njk
permalink: index.html
title: Professionelle Webentwicklung
intro: Seit 1998 arbeite ich im und für das Web. Nach Stationen in Agenturen und als Selbständiger arbeite ich seit November 2019 beim SWR in Mainz als Frontend-Entwickler. Ich stehe also für Projekte und Schulungen nicht mehr zur Verfügung.
---


  {# {% include "index-my-projects.njk" %} #}
  {# {% include "index-linklists.njk" %} #}

  {# {% include "socialmedia.njk" %} #}

