---
layout: layouts/base.njk
permalink: index.html
title: Professionelle Webentwicklung
introimage: grochtdreis-32.jpg
intro1: Seit 1998 arbeite ich im und für das Web. Erst in einer Werbeagentur, dann in zwei Internetagenturen. Später habe ich als selbständiger Dienstleister Frontendentwicklung, Schulung und Beratung angeboten. Ich habe mein Wissen in vielen Inhouse-Schulungen und Konferenzen weitergegeben. Ich war aber auch immer gerne Sprecher auf Meetups, Barcamps oder Webmontagen.
intro2: <strong>Seit dem 1. September 2021 bin ich beim <a href="https://www.swr.de">SWR</a> angestellt und kümmere mich da um das Frontend großer Teile des Webangebotes.</strong> Ich stehe also für Projekte und Schulungen nicht mehr zur Verfügung.
---


  {% include "index-my-projects.njk" %}
  {% include "index-linklists.njk" %}

  {# {% include "socialmedia.njk" %} #}

