---
layout: layouts/base.njk
title: Kolophon
permalink: kolophon.html
intro1: Ein <a href="http://de.wikipedia.org/wiki/Kolophon_%28Schriftst%C3%BCck%29">Kolophon</a> gibt traditionell Hintergrundinformationen über die Entstehung der Webseite.
---
<section class="section">
  <h3 class="section__headline">CMS</h3>
  <p>Die letzte und die aktuelle Iteration dieser Webseite wurde ohne ein klassisches CMS erstellt. Für ein CMS ist die Seite nicht komplex genug und bedarf nicht häufiger Aktualisierung. Zur Erleichterung mittels Templating habe ich den Statischen Seitengenerator "<a href="https://www.11ty.dev/">Eleventy</a>"  mit "Nunjucks" als Templating-Engine genutzt.</p>
</section>
<section class="section">
  <h3 class="section__headline">Meine Fotos</h3>
  <p>Im Sommer 2018 liess ich mich von <a href="https://dennisweissmantel.de/">Dennis Weissmantel</a> fotografieren. Ich kann ihn als angenehmen und professionellen Fotografen aus ganzem Herzen empfehlen.</p>
</section>
<section class="section">
  <h3 class="section__headline">CSS-Präp&shy;rozessor</h3>
  <p>CSS schreibe ich nicht mehr direkt. Ich nutze lieber einen Prä&shy;prozessor. In meinem Fall ist das <a href="http://sass-lang.com/">Sass</a>.</p>
</section>
<section class="section">
  <h3 class="section__headline">Versions&shy;kontrolle</h3>
  <p>Ich möchte keine Projekte mehr ohne Versions&shy;kontrolle machen. Wegen der einfachen Hand&shy;habung habe ich mich schon vor Längerem für <a href="http://www.git-scm.com/">Git</a> ent&shy;schieden und nutze dafür die Integration in meinen aktuellen Editor <a href="https://code.visualstudio.com/">VS Code</a> oder direkt die Kommandozeile.</p>
</section>
<section class="section">
  <h3 class="section__headline">Schriftart</h3>
    <p>Als Schriftart habe ich "<a href="http://mozilla.github.io/Fira/">FiraSans</a>" gewählt. Sie wurde für das mittlerweile wieder eingestellt MozillaOS <a href="http://www.typografie.info/3/page/Schriften/fonts.html/_/feura-sans">entwickelt</a> und ist OpenSource.</p>
</section>
