---
layout: layouts/base.njk
title: Vorträge
permalink: vortraege.html
introimage: grochtdreis-25.jpg
intro1: Immer wieder habe ich auf Konferenzen Vorträge gehalten, war Gast bei firmeninternen Fortbildungsveranstaltungen. Meine öffentlichen Vorträge habe ich auf <a href="https://speakerdeck.com/flocke">Speakerdeck</a> hochgeladen. Nachfolgend sehen Sie eine kleine Auswahl meiner Vorträge.
---

<section class="section column-list">
  {% include "selected-talks.njk" %}
</section>
