<div class="bg-wrapper">

  <div class="container pb-0">
    <header class="siteheader">
      <!-- 7:2 -->
      {%- if headerImage -%}
     <img class="no-print" src="../img/{{headerImage}}_875x250.jpg" alt="" width="875" height="250">
     {%- else -%}
     <img src="https://dummyimage.com/7:2x250" alt="">
     {%- endif -%}
     <div class="siteheader__headline-cnt">
        <h1 class="siteheader__headline">{{ title }}</h1>
        <p class="siteheader__subline">{{ subline }}</p>
     </div>
    </header>
  </div>

</div>
