<div class="container">
  <header class="siteheader">
    {%- if headerImage -%}
    <img class="no-print" src="../img/{{headerImage}}.jpg" alt="{{img.alt}}" width="875" height="250">
    {%- else -%}
    <img src="https://dummyimage.com/7:2x250/98D7C2" alt="">
    {%- endif -%}
    <div class="siteheader__headline-cnt">
      <h1 class="siteheader__headline">{{ title }}</h1>
    </div>
  </header>
  </div>
