<div class="inner">
  <ul class="site-footer__list">
  	<li class="site-footer__list-item">&copy; 2023 by Jens Grochtdreis</li>
  	<li class="site-footer__list-item"><a class="site-footer__link" href="impressum.html">Impressum und Datenschutz</a></li>
  	<li class="site-footer__list-item"><a class="site-footer__link" href="kolophon.html">Kolophon</a></li>
  	<li class="site-footer__list-item"><a class="site-footer__link" href="#top">zum Anfang springen</a></li>
  </ul>
</div>
