<nav class="nav">
  <ul class="navigation no-list">
  {% for item in navigation.primary %}
    <li class="navigation__item">
      <a class="navigation__link{% if page.url == item.url %} active{% endif %}"
        {% if page.url == item.url %} aria-current="page" {% endif %} href="{{ item.url }}">
      {{ item.label }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
