<header class="site-header" role="banner">
  <div class="site-header__inner">
    <h1 class="site-header__name">
      <a href="index.html">Jens Grochtdreis</a>
      <small>Senior-Frontendentwickler</small>
    </h1>
    <img
      srcset="./images/portrait/300/{{ introimage }} 1w, ./images/portrait/450/{{ introimage }} 600w, ./images/portrait/600/{{ introimage }} 900w"
      src="./images/portrait/600/{{ introimage }}" alt="Portrait von Jens Grochtdreis" class="intro__image">
  </div>
    {% include "./socialmedia-icons.njk" %}
</header>
