<header class="site-header" role="banner">
    <h1 class="site-header__name">
      Jens Grochtdreis
      <small>Senior-Frontendentwickler</small>
    </h1>
    <img
      src="./images/portrait/300/grochtdreis-35.jpg" alt="Portrait von Jens Grochtdreis" class="site-header__image">
    {% include "./socialmedia-icons.njk" %}
</header>
