.intro {
  overflow: hidden;
  font-size: 1.25rem;

  &__headline {
    color: $orange-vivid-800;
    font-size: 1.75rem;
    font-family: $headline-font;
    line-height: 1.25;
    margin: 0 0 ($margin * 2) 0;
  }

  &__image {
    border-radius: $intro-image-border-radius;
    box-shadow: $intro-image-box-shadow;
    display: block;
    margin-bottom: $margin;

    @media (min-width: $md) {
      float: right;
      max-width: 460px;
      margin: $intro-image-margin;
    }

    @media (min-width: $lg) {
      max-width: 600px;
    }
  }
}

// @media (min-width: $xl) {
//   .intro {
//     &__textcnt {
//       float: left;
//       width: 50%;
//       padding-right: $padding;
//     }

//     &__imagecnt {
//       float: right;
//       width: 50%;
//       max-width: 700px;
//       padding-left: $padding;
//     }
//   }

//   @supports (display: grid) {
//     .intro {
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       grid-gap: 20px;

//       &__imagecnt,
//       &__textcnt {
//         width: auto;
//         padding: 0;
//       }
//     }
//   }
// }
