.linklists {
  padding: $padding;
  background-color: $linklists-bg;
}

.linklist {
  @include nolist;

  li {
    margin-bottom: $margin * 0.5;
  }

  a {
    display: block;
    background-color: $indigo-050;
    color: $indigo-800;
    padding: $padding;
    text-decoration: none;

    &:hover, &:focus {
      background-color: $indigo-800;
      color: $indigo-050;
    }
  }
}
