
.socialmedia {
  // damit es immer unten ist
  margin-bottom: 12px;

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__icon {
    width: $socialmedia-icon-width;
    height: $socialmedia-icon-height;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &__link {
    display: block;
    margin: $socialmedia-link-margin;
  }
}
