<!-- ====== Header -->
{% if templateClass == "tmpl-home" %}
  {% include "partials/site-header/home.njk" %}
{% endif %}

{% if templateClass == "tmpl-post" %}
  {% include "partials/site-header/post.njk" %}
{% endif %}
<!-- END ======= Header -->
